.card {
    margin: auto;
    margin-top: 20px;
}

.card:first-child {
    margin-top: 50px;
}

.card-text {
    display: inline;
    color: red;
    font-family: "DIN Alternate";
}

p {
    color: red;
    font-family: 'DIN Alternate';
    padding-bottom: -10px;
    font-size: 1.3rem;
}

.title {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
}

.title .titleSpan {
    color: red;
}

.title2 {
    font-size: 1.2rem;
    margin-top: 20px;
    text-align: center;

    color: black;
}

.title2 .titleSpan2 {
    color: red;
}

.people {
    
    margin-top: -10px;
    color: grey;
    font-size: 0.9rem;
}
